<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shashankmohabia.morphme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BootActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".MainGame.MainActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".Rules.RulesActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MainGame.ProfileActivity" />
    </application>

</manifest>